$primary-color: #FFA900; // Web Orange
$primary-dark: #CF8900; // Web Orange
$primary-light: #FFD481; // Web Orange
$secondary-color: #300D38; // Valentino
$secondary-dark: #120515; // Valentino
$secondary-light: #582B63; // Valentino
$white: #F9F8F9; // Alabaster
$white-dark: #CDCDCD; // Alabaster
$error: #FF4E42; 