@import "./_colors.scss";
@import "./_fonts.scss";

@mixin button-default{
    &.MuiButton-contained {
        font-family: $lexend;
        color: $white;
        background-color: $primary-color;
    }
    &.MuiButton-contained:hover {
        background-color: $primary-color;
    }
    &.MuiButton-text {
        font-family: $lexend;
        color: $primary-dark;
    }
    &.MuiButton-text:hover {
        background: none;
    }
    &.MuiButton-text{
        & .MuiTouchRipple-child {
            background-color: rgba($color: $primary-light, $alpha: .5);
        }
    }
}

@mixin mui-button {
    & .MuiIconButton-root {
        background-color: rgba($color: $white, $alpha: .2);
        position: absolute;
        top: 2.5%;
        right: 2.5%;
        &:hover {
            background-color: rgba($color: $white, $alpha: .4);
        }
    }
}

@mixin mui-search-bar-button {
    &.MuiIconButton-root {
        background: none;
        &:hover {
            background: none;
        } 
        & .MuiTouchRipple-child {
            background-color: $primary-light;
        }
    }
}

@mixin icon-transition {
    &.MuiIconButton-root {
        transition: color .3s;
    }
}

.button-primary {
    @include button-default;
    &.MuiButton-contained {
        height: 48px;
        width: 125px;
        border-radius: 25px;
    }
}

.button-primary-form {
    @include button-default;
}

.button-secondary {
    @include button-default;
}

.button-secondary-active {
    @include button-default;
    color: $secondary-light !important;
}

.search-bar-icon-button {
    @include mui-search-bar-button;
    @include icon-transition;
    &.MuiIconButton-root {
        color: $primary-dark;
    }
}

.search-bar-icon-button-active {
    @include mui-search-bar-button;
    @include icon-transition;
    &.MuiIconButton-root {
        color: $secondary-light;
    }
}

.favorite-icon {
    @include icon-transition;
    &.MuiIconButton-root {
        color: $white;
    }
}

.favorite-icon-active {
    @include icon-transition;
    &.MuiIconButton-root {
        color: $alert;
    }
}

.arrow-icon{
    @include mui-search-bar-button;
    &.MuiIconButton-root {
        color: $primary-dark;
        width: 1.5em;
        height: 1.5em;
        & svg {
            font-size: 1.75em;
        }
    }
}