@import "./_colors.scss";
@import "./_fonts.scss";

@mixin button-default{
    &.MuiButton-contained {
        font-family: $lexend;
        color: $white;
        background-color: $primary-color;
    }
    &.MuiButton-contained:hover {
        background-color: $primary-color;
    }
    &.MuiButton-text {
        font-family: $lexend;
        color: $primary-dark;
    }
    &.MuiButton-text:hover {
        background: none;
    }
}

@mixin mui-button {
    & .MuiIconButton-root {
        background-color: rgba($color: $white, $alpha: .2);
        color: #ffffff;
        position: absolute;
        top: 2.5%;
        right: 2.5%;
        &:hover {
            background-color: rgba($color: $white, $alpha: .4);
        }
    }
}

@mixin mui-search-bar-button {
    &.MuiIconButton-root {
        background: none;
        &:hover {
            background: none;
        }
        & .MuiTouchRipple-child {
            background-color: $primary-light;
        }
    }
}

.button-primary {
    @include button-default;
    &.MuiButton-contained {
        height: 48px;
        width: 125px;
        border-radius: 25px;
    }
}

.button-primary-form {
    @include button-default;
}

.button-secondary {
    @include button-default;
}

.search-bar-icon-button {
    @include mui-search-bar-button;
    &.MuiIconButton-root {
        color: $primary-dark;
    }
}

.search-bar-icon-button-active {
    @include mui-search-bar-button;
    &.MuiIconButton-root {
        color: $secondary-light;
    }
}