@import "./buttons.scss";
@import "./inputs.scss";
@import "./_colors.scss";
@import "./_fonts.scss";

$navbar-height: 90px;
$main-container-height: calc(100vh - $navbar-height * 2);

@mixin landing-elements-sizing{
    height: 460px;
}

@mixin padding-horizontal {
    padding-left: 30px;
    padding-right: 30px;
}

* {
    margin: 0;
    padding: 0;
    font-family: $lexend;
    font-size: 16px;
}

.page-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #FFD481;
    background: linear-gradient(210deg, $primary-light 0%, $primary-color 57%);
}

.nav-bar {
    @include padding-horizontal;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: $navbar-height;
    z-index: 2;

    & .nav-bar-button-container {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
}

.footer {
    display: flex;
    background-color: $secondary-color;
    color: $white;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: $navbar-height;
    position: absolute;
    bottom: 0;
    
}

.landing-container{
    @include padding-horizontal;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: $main-container-height;

    & .landing-copy-container {
        @include landing-elements-sizing;
        width: 40vw;
        white-space: nowrap;
        z-index: 1;
        filter: drop-shadow(5px 5px 20px rgba(250, 250, 250, 0.75));
    }

    & .hero-image-container {
        @include landing-elements-sizing;

        & .hero-image {
            @include landing-elements-sizing;
            width: auto;
            object-fit: cover;
            border-radius: 300px 300px 0px 300px;
            filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.5));
        }
    }
}

.login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: $main-container-height;
    
    & .form-container {
        background-color: $white;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
        border-radius: 10px;
        width: 300px;
        height: 250px;
        padding: 35px;
    }
}

.main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90%;
    width: 100%;
}

.search-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-bottom: $navbar-height;
}

.card-row-container {
    display: flex;
    flex-direction: column;
    min-width: 1080px;
}

.search-bar-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 0 10px;
    min-width: 1080px;
}

.card-row {
    display: flex;
    flex-direction: row;
}

.card-container {
    @include mui-button;
    min-width: 250px;
    width: 250px;
    height: 300px;
    position: relative;
    margin: 10px;
    & .MuiCardMedia-media {
        display: block;
        height: 200px;
        width: 100%;
        cursor: pointer;
    }
    & .card-copy-container {
        @include card-copy;
        margin-left: 15px;
        margin-top: 4px;
    }
}

.filter-container {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 10px;
    background-color: $white;
    height: 100%;
    width: 300px;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.25);
}

.match-container {
    background-color: $white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 500px;
    height: 700px;
}

.match-image {
    object-fit: cover;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    width: 100%;
    height: 475px;
}